/* goole font link starts hear  */
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Manrope:wght@400;500;600;800&display=swap");
/* goole font link Ends hear  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
.hero-section-wraper {
  padding-top: 85px;
  height: 526px;
  overflow: hidden;
}

.hero-player {
  margin-top: 125px;
}
.futboll {
  right: -5%;
  bottom: -247px;
}
.hero-player-logo {
  top: 9%;
  right: 7%;
}
.hero-content-three {
  width: 411px;
}
.futboll-lear {
  right: 4px;
  bottom: -221px;
}
.hoe-heading {
  font-family: "Berkshire Swash", cursive;
}
.players-card-wreper {
  box-shadow: 0px 0px 3px 0px #fff;
}
.player-img-wreap img {
  width: 100%;
}
.select-btn:disabled {
  background: #a2a9af;
}
.calculate-btn-wraper button {
  display: block;
  width: 100%;
  max-width: ;
}

@media screen and (max-width: 992) {
  .grid-cols-3 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
